* {
  margin: 0;
  padding: 0;
}
header,main,footer,nav,aside,section,div {
  display: block;
}
/*////index////*/
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 123px;
    background-color: #F2E9E9;
  }
  nav ul , #ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  nav li , #li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-direction: column;
    position: relative;
  }
  .point , #pointr {
    display: block;
    position: absolute;
    border-radius: 50px;
    bottom: 36px;
    width: 14px;
    height: 14px;
    background: #F72828;
  }
  nav .selected:hover , #a:hover , #a-selected:hover {
    background-color: none;
    border-radius: none;
  }
  nav a:hover:not(.selected) , #a:hover:not(.selected) , #a-selected:hover:not(.selected) {
    color: #bcbf20;
    text-decoration: underline;
    transition: color 0.5s ease-in;
  }
  nav a , #a , #a-selected{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #000000;
  }
/*////mix////*/

  .con {
    margin-top: 91px;
    margin-left: 244px;
    display: flex;
    justify-content: center;
  }
  h1 {
    font-family: "Amiko";
    font-style: bold;
    font-weight: 270;
    font-size: 100px;
    line-height: 60px;
    color: #000000;
  }
  h2 {
    font-family: "Amiko";
    font-style: bold ;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
  #tab , #a-selected {
    display: flex;
  }
  .wrapperword {
    margin-right: 70px;
    margin-top: 176px;
  }
  .wrapperrec {
    height: 624px;
    width: 437px;
    display: flex;
  }
  .rec10 {
    width: 55px;
    height: 105px;
    background: #EBEF18;
    margin-left: -13px;
    margin-top: 16px;
  }
  .col1 {
    margin-right: 13px;
  }
  .col1 .rec1 {
    margin-top: 44px;
    width: 75px;
    height: 23px;
    background: #EBEF18;
  }
  .col1 .rec2 {
    margin-top: 8px;
    width: 136px;
    height: 46px;
    background: #EBEF18;
  }
  .col1 .rec4 {
    margin-top: 11px;
    width: 134px;
    height: 404px;
    top: 132px;
    background: #EBEF18;
  }
  .col1 .rec3 {
    margin-top: 11px;
    width: 88px;
    height: 28px;
    background: #EBEF18;
  }
  .col1 .rec5 , .col1 .rec5_1 {
    margin-top: 7px;
    width: 25px;
    height: 26px;
    margin-right: 7px;
    background: #EBEF18;
  }
  .rec-row1 {
    display: flex;
  }
  .col2 .rec1 {
    margin-top: 44px;
    width: 246px;
    height: 352px;
    background: #EBEF18;
  }
  .col2 .rec2 {
    margin-top: 16px;
    width: 123px;
    height: 212px;
    background: #EBEF18;
  }
  .rec-col1 {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
  }
  .rec-col2 {
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
  .rec2_1 {
    display: flex;
  }
  .col2 .rec3 {
    margin-right: 41px;
    margin-top: 16px;
    width: 55px;
    height: 105px;
    background: #EBEF18;
  }
  .col2 .rec4 {
    margin-top: 7px;
    width: 110px;
    height: 58px;
    background: #EBEF18;
  }
  .col3 {
    display: flex;
    align-items: end;
    flex-direction: column;

  }
  .col3 .rec1 , .col3 .rec2 , .col3 .rec3 {
    margin-top: 0px;
    margin-bottom: 11px;
    width: 28px;
    height: 55px; 
    background: #EBEF18;
  }
  .col3 .rec4 { 
    width: 28px;
    height: 198px;
    background: #EBEF18;
  }
  footer {
    height: 41px;
    width: 100%;
    margin-top: 145px;
    background: #000000;
  }
  /*////STAIRS////*/

  .container1 {
    justify-content: center;
    flex-direction: row;
    display: flex;
  }
  .container2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .box_container {
    display: flex;
    margin-top: 119px;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .right {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    margin-top: 168px;
  }
  .rectanglegray {
    width: 457px;
    height: 299px;
    background-color: #C4C4C4;
    margin-top: 70px;
  }
  .rectanglegary.no-margin {
    margin-top: 0px;
  }
  .yellow-rec {
    display: block;
    width: 169px;
    height: 1925px;
    background-color: #EBEF18;
    position: relative;
  }
  .small-box {
    width: 80px;
    height: 80px;
  }
  .small-box.pos1 {
    position: absolute;
    left: 0px;
    top: 119px;
  }
  .small-box.pos2 {
    position: absolute;
    left: 0px;
    top: 616px;
  }
  .small-box.pos3 {
    position: absolute;
    right: 0px;
    top: 247px;
  }
  .small-box.black {
    background-color: #000000;
  }
  .small-box.white {
    background-color: #ffffff;
  }
  .footer2 {
    position: fixed;
    bottom: 0px;
  }
  .name {
    position: absolute;
    margin-top: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .name a {
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  /*////DYNAMIC////*/

  #headerpink {
    width: 100%;
  }
  .main {
    display: flex;
    flex-direction: row;
    height: 995px;
    justify-content: start;
  }
  .side {
    display: block;
    width: 372px;
    height: 995px;
    background-color: #E5E5E5;
  }
  .ul-side {
    margin-top: 123px;
  }
  #pointr {
    margin-left: 64px;
  }
  .game {
    width: 100%;
    overflow: hidden;
  }
  .blue {
    height: 995px;
    min-width: 104px;
    background-color: #1847EF;
    opacity: 30%;
  }
  .yellow-big-rec {
    width: 100%;
    height: 463px;
    background-color: #EBEF18;
  }
  .footer3 {
    height: 41px;
    width: 100%;
    bottom: 0px;
    margin-top: 0px;
  }
  #nav2 {
    display: flex;
    width: 100%;
    height: 123px;
    justify-content: end;
  }
  #rectanglePush {
    width: 80px;
    height: 80px;
    background-color: black;
    margin-right: 24px;
  }
  #rectangleContainer {
    overflow: scroll;
    max-height: 100%;
    overflow-x: hidden;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-left: -64px;
  }
  .rectangleLayout3 {
    width: 80px;
    height: 80px;
    background-color: black;
    margin-left: 132px;
    margin-right: 64px;
    margin-top: 70px;
    margin-bottom: 40px;
    color: #ffffff;
    font-family: 'Tahoma';
    font-style: normal;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  @media only screen and (max-width: 767px) {
    .main {
        display: flex;
        flex-direction: column;
      }
    .side {
        display: flex;
        width: 100%;
        height: 105px;
        background-color: #E5E5E5;
        justify-content: center;
        align-items: center;
      }
      .ul-side {
        margin: 0px;
      }
      .blue {
        display: none;
      }
      .rectangleLayout3 {
        margin-left: 100px;
      }
      .game {
        width: 100%;
      }
      .rectangleLayout3 {
        margin-right: 35px;
      }
  }